*{margin: 0; padding: 0;}
#main{
  height: 100vh; width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/images/abtbg.jpg") no-repeat center center/cover;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: oblique;
}
#section2{
    height: 200px; width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    color: cyan;
}
#section2 .lines{
    width: 80%;
}
/*SECTION 3*/
#section3 {
    height: 400px; width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section3-container{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section3 .section3-container .box {
    background-color: rgb(228, 228, 228);
    border: 2px solid brown;
    border-radius: 8px;
    height: 250px; width: 250px;
    padding: 2px; margin: 8px;
}
#section3 .section3-container .box img{
height: 120px; width: 120px;
display: block;
margin: auto;
}
#section3 .section3-container .box  .section3-head{
    padding-top: 20px;
    text-align: center;
}
/*SECTION 4*/
#section4{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}
#section4 .section4-container{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: cyan;
}
#section4 .section4-container h1{
    margin-left:20px;
}
#section4 .section4-container .lines p{
margin: 20px;
}
@media screen and (max-width:880px){
    #section3{
        height: 500px;
    }
    .section3-container{
        flex-direction: column;
    }
    #section3 .section3-container .box img{
        height: 60px; width: 60px;
    }
}