*{margin: 0; padding: 0;}
.clients-container{
    overflow: hidden;
}
.navbar{
    flex-direction: column;
}
.navbar .bars{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 2px 10px;
    background-color: rgb(0, 0, 0);
}
.navbar .closebtn{
    display: none;
    position: absolute;
    font-size: 30px;
    left: 10px;
    top: 10px;
    padding: 2px 10px;
    background-color: rgb(255, 0, 0);
}
.navbar .navlinks{
    height: 280px; width: 100%;
    background-color: black;
    margin-left: 10px;
    display: none;
}
.navbar .navlinks ul{
    flex-direction: column;
}
.navbar a:hover{
  color: rgb(255, 0, 0);
  background-color: black;
}

/*section main*/
#main .main-head{
    font-size: 1.2rem;
}

/*section services*/
#services img{
    height: 60px;
}
#services{
    height: 800px;
}
#services .services-container {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#services .services-container .box{
    height: 210px; width: 360px;
}
#services .services-container .box .services-head {
    font-size: 20px;
}
#services .services-container .box .services-lines{
        font-size: 10px; 
}
/*section dishes */
#dishes img{
    height: 60px;
}
#dishes{
    height: 800px;
}
#dishes .dishes-container {
    flex-direction: column;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#dishes .dishes-container .box{
    height: 210px; width: 360px;
}
#dishes .dishes-container .box .services-head {
    font-size: 20px;
}
#dishes .dishes-container .box .services-lines{
    font-size: 10px;
}
/*section clients */
#clients .clients-container{
    margin-top: 54px;
}
#clients .clients-container img{
    height: 55px ;
    margin: 1px;
    padding: 1px;
    border-radius: 2px;
}
#contact .contact-container{
    padding-left: 35px;
}
#contact .contact-container input ,
#contact .contact-container textarea{
    width: 90%;
}